Gustav Svensson <gussvens@student.chalmers.se>
Simon Moos  <simon.moos95@gmail.com>
Samuel Utbult <Samuel.utbult@hotmail.com>
Marcus Pettersson Johnsson  <marcus.petterssonjo@gmail.com>
Marcus Eliasson Sjöstedt  <marsjos@student.chalmers.se>
Erik Sänne  <sanneer@student.chalmers.se>
Emil Hukic  <hukicemil@gmail.com>
